{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Geometria desencadenada</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatem deleniti natus sequi accusamus voluptates praesentium tempore libero perferendis doloremque maiores saepe asperiores cum, eligendi, ad ab quo porro explicabo.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/gd.png" alt="Example" class="img-thumbnail">
    </div>
</div>




{{>footer}}